@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}
.header.sticky {
  background: var(--bg-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}
.navbar a {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 3.5rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar .active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
/* Home Section  */
section {
  min-height: 100vh;
  padding: 8rem 9% 2rem;
}
.home {
  display: flex;
  align-items: center;
  padding: 0% 9%;
  background-image: url("/images/home.jpg");
  background-size: cover;
  background-position: center;
}
.home-content {
  max-width: 60rem;
  z-index: 99;
}
.home-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3 {
  font-size: 3.1rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h3::before {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
  position: absolute;
}
.home-content p {
  font-size: 1.6em;
  margin: 2rem 0rem 4rem;
}
.btn-box {
  position: relative;
  width: 34.5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box .btn:hover {
  color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
  background-color: transparent;
  color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
  background-color: var(--main-color);
}
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.btn-box .btn:hover::before {
  width: 100%;
}
.home-sci {
  position: absolute;
  bottom: 6rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50px;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.home-sci a:hover {
  color: var(--bg-color);
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.home-sci a:hover::before {
  width: 100%;
}
.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 2s;
}
.home-imgHover:hover {
  background-color: var(--bg-color);
  opacity: 0.8;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}
.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
span {
  color: var(--main-color);
}
.aboutImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.aboutImg img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}
.aboutImg .circleSpin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}
.aboutContent {
  text-align: center;
}
.aboutContent h3 {
  font-size: 2.6rem;
}
.aboutContent p {
  margin: 2rem 0rem 3rem;
  font-size: 1.6rem;
}
.btn-box.btns {
  width: 15rem;
  display: inline-block;
}
.btn-box.btns a::before {
  background: var(--second-bg-color);
}

/* Education section */

.education {
  min-height: auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .educationRow {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.educationRow .educationColumn {
  flex: 1 1 40rem;
}
.educationColumn .title {
  font-size: 2.5rem;
  margin: 0rem 0rem 1.5rem 2rem;
}
.educationColumn .educationBox {
  border-left: 0.2rem solid var(--main-color);
}
.educationBox .educationContent {
  position: relative;
  padding-left: 2rem;
}

.educationBox .educationContent::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-color);
  top: 0;
  left: -1.1rem;
}
.educationContent .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.educationContent .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background: var(--second-bg-color);
  transition: 0.5s;
}
.educationContent .content:hover::before {
  width: 100%;
}
.educationContent .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}
.educationContent .content .year i {
  padding-right: 0.5rem;
}
.educationContent .content h3 {
  font-size: 2rem;
}
.educationContent .content p {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

/* skills */
.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}
.skills .skillsRows {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skillsRows .skillsColumn {
  flex: 1 1 40rem;
}
.skillsColumn .title {
  font-size: 2.5rem;
  margin: 0rem 0rem 1.5rem;
}
.skillsBox .skillsContent {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skillsBox .skillsContent:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.skillsBox .skillsContent:hover::before {
  width: 100%;
}
.skillsContent .progress {
  padding: 1rem 0;
}
.skillsContent .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skillsContent .progress h3 span {
  color: var(--text-color);
}
.skillsContent .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}
.skillsContent .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.skillsColumn:nth-child(1) .skillsContent .progress:nth-child(1) .bar span {
  width: 90%;
}

.skillsColumn:nth-child(1) .skillsContent .progress:nth-child(2) .bar span {
  width: 80%;
}

.skillsColumn:nth-child(1) .skillsContent .progress:nth-child(3) .bar span {
  width: 60%;
}

.skillsColumn:nth-child(1) .skillsContent .progress:nth-child(4) .bar span {
  width: 75%;
}

.skillsColumn:nth-child(1) .skillsContent .progress:nth-child(5) .bar span {
  width: 80%;
}

.skillsColumn:nth-child(2) .skillsContent .progress:nth-child(1) .bar span {
  width: 90%;
}

.skillsColumn:nth-child(2) .skillsContent .progress:nth-child(2) .bar span {
  width: 40%;
}

.skillsColumn:nth-child(2) .skillsContent .progress:nth-child(3) .bar span {
  width: 60%;
}

.skillsColumn:nth-child(2) .skillsContent .progress:nth-child(4) .bar span {
  width: 90%;
}

.skillsColumn:nth-child(2) .skillsContent .progress:nth-child(5) .bar span {
  width: 45%;
}
/* contact section */
.contact {
  min-height: auto;
  padding-bottom: 7rem;
}
.contact form {
  max-width: 70rem;
  margin: 0rem auto;
  text-align: center;
}
.contact form .inputBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox .inputField {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}
.contact form .inputBox .inputField input,
.contact form .textareaField textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
}
.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.inputField input:focus ~ .focus,
.inputField input:valid ~ .focus,
.textareaField textarea:focus ~ .focus,
.textareaField textarea:valid ~ .focus {
  width: 100%;
}

.numInput::-webkit-outer-spin-button,
.numInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact form .inputBox .inputField input::placeholder,
.contact form .textareaField textarea::placeholder {
  color: var(--text-color);
}
.contact form .textareaField {
  position: relative;
  margin: 0.8rem 0rem 2.7rem;
  display: flex;
}
.contact form .textareaField textarea {
  resize: none;
}
.contact form .btn-box.btns .btn {
  cursor: pointer;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footerText p {
  font-size: 1.6rem;
}
.footerText p span {
  color: var(--main-color);
}
.iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}
.iconTop a:hover::before {
  width: 100%;
}
.iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.iconTop a:hover i {
  color: var(--main-color);
}

/* BreakPoints */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
  .footer {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }
  #menu-icon {
    display: block;
    position: relative;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-sizing: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }
  .navbar.active {
    left: 0;
    transition-delay: 0;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.5s;
  }
  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: 0.6;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .home-content h1 {
    display: flex;
    flex-direction: column;
  }
  .home-sci {
    width: 160px;
  }
  .home-sci a {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }
  .education {
    padding: 10rem 4% 5rem 5%;
  }
  .contact form .inputBox .inputField {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }
  .home-content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .home-content h1 {
    font-size: 5rem;
  }
}

/* ANimation */
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width: 0%;
  }
}
